html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

body {
  color: #3F5D45;
}

a {
  text-decoration: none;
  color: #3F5D45;
}

.l-header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .l-header {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 36px;
  }
}

.l-header__mobileMenu {
  font-size: 18px;
  display: none;
}

@media (max-width: 767px) {
  .l-header__mobileMenu {
    display: block;
  }
}

.l-header__logoIcon {
  max-width: 40px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .l-header__logoIcon {
    display: none;
  }
}

.l-header__logoName {
  max-width: 220px;
}

@media (max-width: 767px) {
  .l-header__logoName {
    max-width: 114px;
  }
}

.l-header__menu {
  display: flex;
  text-align: center;
}

.l-header__menu a {
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
}

.l-header__menu a:hover {
  background: #3F5D45;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .l-header__menu a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .l-header__menu li:nth-child(-n+3) {
    display: none;
  }
}

.l-banner {
  max-width: 100%;
}

.l-banner img {
  display: block;
}

.l-footer__subscript {
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .l-footer__subscript {
    flex-direction: column;
    padding: 30px;
  }
}

.l-footer__subscript__logo {
  display: flex;
  font-size: 24px;
  line-height: 40px;
}

.l-footer__subscript__logo img {
  width: 40px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .l-footer__subscript__logo {
    margin-bottom: 30px;
  }
}

.l-footer__subscript__form {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  color: #3F5D45;
  font-size: 24px;
}

@media (max-width: 767px) {
  .l-footer__subscript__form {
    width: 315px;
  }
}

.l-footer__subscript__form input {
  width: 50%;
  border: 1px solid #FFFFFF;
}

.l-footer__subscript__form i {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 20px;
  margin-left: 20px;
}

.l-footer__content {
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .l-footer__content {
    padding: 38px 30px;
  }
}

.l-footer__content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 24px;
}

.l-footer__content__info img {
  max-width: 171px;
}

@media (max-width: 767px) {
  .l-footer__content__info img {
    margin-bottom: 39px;
  }
}

.l-footer__content__info__wording {
  max-width: 60px;
}

@media (max-width: 767px) {
  .l-footer__content__info__wording {
    display: none;
  }
}

.l-footer__bottom {
  padding: 0px 120px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .l-footer__bottom {
    padding: 37px 30px 30px 30px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.l-footer__bottom__media img {
  width: 32px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .l-footer__bottom__media {
    margin-bottom: 30px;
  }
}

.u-primaryBackground {
  background: #3F5D45;
  color: #FFFFFF;
}

.u-secondaryBackground {
  background: #EAF0ED;
  color: #3F5D45;
}

.u-thirdBackground {
  background: #FFE180;
}

.u-vericalWritingMode {
  writing-mode: vertical-rl;
}

.u-fontBold {
  font-weight: bold;
}

.c-card {
  position: relative;
  width: 300px;
}

@media (max-width: 767px) {
  .c-card {
    width: 315px;
  }
}

.c-card__tag {
  position: absolute;
  left: 20px;
  padding: 10px;
  letter-spacing: 4px;
}

.c-card__favorite {
  top: 19px;
  right: 22px;
  position: absolute;
}

.c-card img {
  max-width: 100%;
  display: block;
}

@media (max-width: 767px) {
  .c-card img {
    width: 100%;
  }
}

.c-card__content {
  display: flex;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
}

.c-card__content__title {
  width: 58%;
  border-right: 1px solid #EAF0ED;
}

.c-card__content__subTitle {
  width: 42%;
}

.c-card__addCar {
  line-height: 65px;
  background: #EAF0ED;
  text-align: center;
}

.p-index-category {
  position: relative;
  top: -150px;
  margin-bottom: -150px;
}

@media (max-width: 767px) {
  .p-index-category {
    top: 0px;
    margin-bottom: 0px;
  }
}

.p-index-category__list {
  display: flex;
  justify-content: center;
}

.p-index-category__list__item {
  width: 260px;
  margin-right: 1px;
}

.p-index-category__list__item__link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 62px;
  padding-bottom: 62px;
  font-size: 24px;
  letter-spacing: 6px;
  color: inherit;
}

@media (max-width: 767px) {
  .p-index-category__list__item__link {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.p-index-category__list .p-index-category__list__wording {
  margin-right: 1px;
  font-size: 24px;
  letter-spacing: 6px;
}

.p-index-story {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .p-index-story {
    margin-top: 0;
  }
}

.p-index-story__row {
  background: #EAF0ED;
  margin-bottom: 105px;
}

@media (max-width: 767px) {
  .p-index-story__row {
    margin-bottom: 0px;
  }
}

.p-index-story__row__section {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .p-index-story__row__section {
    flex-direction: column;
  }
}

.p-index-story__row__section__mobliePhoto {
  display: none;
}

@media (max-width: 767px) {
  .p-index-story__row__section__mobliePhoto {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .p-index-story__row__section__mobliePhoto img {
    max-width: 196px;
  }
}

.p-index-story__row__section__photo {
  margin-top: -20px;
  margin-bottom: -20px;
}

@media (max-width: 767px) {
  .p-index-story__row__section__photo {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }
}

.p-index-story__row__section__photo img {
  width: 460px;
  height: 460px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .p-index-story__row__section__photo img {
    max-width: 100%;
    max-height: 250px;
  }
}

.p-index-story__row__section__descript {
  height: 420px;
  padding-top: 70px;
  padding-bottom: 70px;
  line-height: 30px;
  margin-right: 80px;
}

@media (max-width: 767px) {
  .p-index-story__row__section__descript {
    height: auto;
    writing-mode: horizontal-tb;
    padding: 30px;
    margin-right: 0;
  }
}

.p-index-story__row__section__descript p:nth-child(n+2) {
  margin-right: 64px;
}

@media (max-width: 767px) {
  .p-index-story__row__section__descript p:nth-child(n+2) {
    margin-right: 0;
    margin-top: 64px;
  }
}

@media (max-width: 767px) {
  .p-index-story__row__section__title {
    display: none;
  }
}

.p-index-story__row__section__title img {
  margin-top: -20px;
  max-width: 88px;
}

.p-index-bannerTitle {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .p-index-bannerTitle {
    display: none;
  }
}

.p-index-bannerTitle img {
  max-width: 90px;
}

.p-index-bannerTitleMobliePhoto {
  display: none;
}

@media (max-width: 767px) {
  .p-index-bannerTitleMobliePhoto {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .p-index-bannerTitleMobliePhoto img {
    max-width: 226px;
  }
}

.p-index-products {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .p-index-products {
    margin-bottom: 30px;
  }
}

.p-index-products__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .p-index-products__list {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .p-index-products__list li {
    margin-bottom: 30px;
  }
}

.p-product-main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .p-product-main {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.p-product-main__aside {
  width: 300px;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 767px) {
  .p-product-main__aside {
    width: 100%;
  }
}

.p-product-main__aside__list li {
  margin-bottom: -1px;
  line-height: 65px;
  border: 1px solid #EAF0ED;
}

.p-product-main__aside__list a {
  display: block;
}

.p-product-main__aside__list a:hover {
  background: #EAF0ED;
}

.p-product-main__cards {
  width: 620px;
}

@media (max-width: 767px) {
  .p-product-main__cards {
    width: 315px;
  }
}

.p-product-main__cards__cardList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-product-main__cards__cardList li {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .p-product-main__cards__cardList li {
    margin-bottom: 30px;
  }
}

.p-product-main__cards__paginate {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.p-product-main__cards__paginate__list {
  display: flex;
}

.p-product-main__cards__paginate__list li {
  border: 1px solid #EAF0ED;
}

.p-product-main__cards__paginate__list li a {
  text-align: center;
  display: block;
  width: 60px;
  line-height: 60px;
}

.p-product-main__cards__paginate__list li a:hover {
  background: #3F5D45;
  color: #FFFFFF;
}

.bold {
  font-weight: bold;
}
/*# sourceMappingURL=all.css.map */