.l-header{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 36px;
    }
    &__mobileMenu{
        font-size: 18px;
        display: none;
        @include mobile{
            display: block;
        }
    }
    &__logoIcon{
        max-width: 40px;
        margin-right: 8px;
        @include mobile{
            display: none;
        }
    }
    &__logoName{
        max-width: 220px;
        @include mobile{
            max-width: 114px;
        }
    }
    &__menu{
        display: flex;
        text-align: center;
        a{
            display: block;
            padding-top: 10px;
            padding-bottom: 8px;
            padding-left: 30px;
            padding-right: 30px;
            &:hover{
                background:$main-color;
                color: $white;
            }
            @include mobile{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        @include mobile{
            li:nth-child(-n+3){
                display: none;
            }
        }
    }
}
.l-banner{
    max-width: 100%;
    img{
        display: block;
    }
}
.l-footer{
    &__subscript{
        padding: 30px 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            flex-direction: column;
            padding: 30px;
        }
        &__logo{
            display: flex;
            font-size: $large-font-size;
            line-height: 40px;
            img{
                width: 40px;
                margin-right: 20px;
            }
            @include mobile{
                margin-bottom: 30px;
            }
        }
        &__form{
            width: 380px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            background:$white;
            color: $main-color;
            font-size: $large-font-size;
            @include mobile{
                width: 315px;
            }
            input{
                width: 50%;
                border: 1px solid $white;
            }
            i{
                margin-top: 16px;
                margin-bottom: 16px;
                margin-right: 20px;
                margin-left: 20px;
            }
        }
    }
    &__content{
        padding: 30px 120px;
        display: flex;
        justify-content: space-between;
        @include mobile{
            padding: 38px 30px;  
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: $large-font-size;
            img{
                max-width: 171px;
                @include mobile{
                    margin-bottom: 39px;
                }
            }
            &__wording{
                max-width: 60px;
                @include mobile{
                    display: none;  
                }
            }
        }
        
    }
    &__bottom{
        padding: 0px 120px 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include mobile{
            padding: 37px 30px 30px 30px;
            flex-direction: column;
            align-items: flex-start;
        }
        &__media{
            img{
                width: 32px;
                margin-right: 8px;
            }
            @include mobile{
                margin-bottom: 30px;
            }
        }
    }
}
